# environment
.venv/
__pycache__/

# dagster run state
.dagster/
.tmp*

# register microdata
*.dta

# document build files
.quarto/
**/*.quarto_ipynb
_extensions/
_acuity/
build/
index_files/
site_libs/
index.typ
data/

**.pdf
/.quarto/

/.luarc.json
